<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670346422319-vhjquo47294i9ul45pln1c5g569l45cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670346422319-vhjquo47294i9ul45pln1c5g569l45cf</string>
	<key>API_KEY</key>
	<string>AIzaSyDos1PuINdLlnXhq8XD1mRCVwI0vGVE8kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>670346422319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-4ed9e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-4ed9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670346422319:ios:4a4b782171b7821c45beda</string>
</dict>
</plist>